body {
    margin: 0;
    background-color: #111111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-top: 30px;
}
.game {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
}

.platform {
    position: absolute;
    width: 500px;
    height: 25px;
    left: 150px;
    top: 280px;

    background: linear-gradient(
        to bottom,
        #777777,
        #333333
    );

    border-radius: 8px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.6);
}

.ball {
    position: absolute;
    width: 80px;
    height: 80px;

    left: 30px;
    bottom: 25px;

    border-radius: 50%;

    background: radial-gradient(
        circle at 30% 25%,
        #ffffff,
        #bbbbbb 25%,
        #555555 70%,
        #111111
    );

    box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.7);
}
@keyframes platformRock {
    0% {
        transform: rotate(-4deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

.platform {
    transform-origin: center;
    animation: platformRock 4s ease-in-out infinite;

}

.platform {
    transform-origin: center;
    animation: platformRock 4s ease-in-out infinite;
}